<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="脑图小站,yangyuscript,lingx,脑图,林光翔,mind map,思维导图,在线制作,mind"/>
    <title>脑图小站-Mind Map House</title>
    <link class="icon" rel="icon" th:href="@{/picture/icon.icon}" type="image/x-icon"/>
    <link class="icon" rel="shortcut icon" th:href="@{/picture/icon.icon}" type="image/x-icon"/>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/style/jsmind.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/style/common.css}" rel="stylesheet" type="text/css"/>
    <style>
        .jsmind-editor {
            color: red;
        }
    </style>
</head>
<body>
<header class="header">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <strong>
                        <img alt="mmh" th:src="@{/picture/icon.icon}" style="width:23px;height:23px;">
                        &nbsp;脑图小站
                    </strong>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/index">首页</a></li>
                </ul>
                <form class="navbar-form navbar-left" action="/search" method="get">
                    <div class="form-group">
                        <input name="keyword" type="text" class="form-control" placeholder="请输入关键字">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li id="login-li"><a href="#" data-toggle="modal" data-target=".login-modal">登录</a></li>
                    <li style="display: none;" id="user-dropdown-li" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <span id="user-email-span">Dropdown</span> <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/create">创建脑图</a></li>
                            <li id="my-mind-map-btn"><a href="#">我的脑图</a></li>
                            <li role="separator" class="divider"></li>
                            <li id="logout-li"><a href="#">退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container-fluid" th:include="::content" style="margin-top:10rem;">页面正文内容</div>

<footer class="footer" style="margin-top:50px;">
    <div style="text-align: center;">
        <p style="">&copy; lingx 2020
            Powered by <a href="https://github.com/yangyuscript/knowledge" target="_blank">yangyuscript</a>
        </p>
        <p><a style="color:black;font-size:10px;text-decoration:none;" href="http://www.beian.miit.gov.cn"
              target="_blank">苏ICP备17062793号-2</a></p>
    </div>
</footer>

<!-- 登录框 -->
<div class="modal fade login-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Mindhup登录</h4>
            </div>
            <!--<form>-->
            <div class="modal-body">
                <div class="form-group">
                    <label for="loginEmail">邮箱</label>
                    <input type="email" class="form-control" id="loginEmail" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="loginPass">密码</label>
                    <input type="password" class="form-control" id="loginPass" placeholder="Password">
                </div>
            </div>
            <div class="modal-footer">
                <a id="forget-pass-a">忘记密码？</a>
                <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal"
                        data-target=".regist-modal">
                    注册新账号
                </button>
                <button type="button" id="login-btn" class="btn btn-primary">登录</button>
            </div>
            <!--</form>-->
        </div>
    </div>
</div>

<!-- 注册框 -->
<div class="modal fade regist-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Mindhup注册</h4>
            </div>
            <!--<form>-->
            <div class="modal-body">
                <div class="form-group">
                    <label for="registEmail">邮箱</label>
                    <input type="email" class="form-control" id="registEmail" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="registPassword">密码</label>
                    <input type="password" class="form-control" id="registPassword" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="confirmPassword">确认密码</label>
                    <input type="password" class="form-control" id="confirmPassword" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="checkCode">邮箱验证码</label>
                    <input type="text" class="form-control" id="checkCode" placeholder="Check Code">
                    <button id="check-code-btn" class="btn btn-danger">获取邮箱验证码</button>
                    <p id="tip" style="display: none;"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    取消
                </button>
                <button type="button" id="regist-btn" class="btn btn-primary">注册</button>
            </div>
            <!--</form>-->
        </div>
    </div>
</div>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script th:src="@{/js/mine.js}"></script>
<script type="text/javascript">
    $(function () {
        var email = localStorage.getItem("email");
        if (email != undefined && email != "") {
            $('#login-li').hide();
            $('#user-dropdown-li').show();
            $('#user-email-span').text(email);
        }

        // 注册
        $("#regist-btn").click(function () {
            var re = $("#registEmail").val();
            var rp = $("#registPassword").val();
            var cp = $("#confirmPassword").val();
            var cc = $("#checkCode").val();
            if (re == "" || rp == "" || cp == "" || cc == "") {
                return false;
            }
            var param = {
                email: re,
                password: rp,
                confirmPass: cp,
                checkCode: cc
            };
            var succFun = function (res) {
                console.log(res);
                $('.login-modal').modal('toggle');
                $('.regist-modal').modal('toggle');
                alert(res.message);
            };
            mineRequest('/register', param, succFun);
        });

        // 登录
        $("#login-btn").click(function () {
            var le = $('#loginEmail').val();
            var lp = $('#loginPass').val();
            if (le == "" || lp == "") {
                return false;
            }
            mineRequest('/login', {email: le, password: lp}, function (res) {
                console.log(res);
                if (res.code == 500) {
                    alert(res.message);
                }
                if (res.code == 200) {
                    $('#login-li').hide();
                    $('#user-dropdown-li').show();
                    $('#user-email-span').text(res.data.email);
                    localStorage.setItem('email', res.data.email);
                    localStorage.setItem('mind-token', res.data.token);
                    $('.login-modal').modal('toggle');
                    $('#needLogin').val('');
                }
            });
        });

        // 登出
        $("#logout-li").click(function () {
            mineRequest('/logout', {email: localStorage.getItem('email')}, function (res) {
                if (res.data) {
                    $('#login-li').show();
                    $('#user-dropdown-li').hide();
                    $('#user-email-span').text('');
                    localStorage.removeItem('email');
                    localStorage.removeItem('mind-token');
                    window.location.href = '/index';
                } else {
                    alert('登出失败');
                }
            });
        });

        // 获取邮箱验证码
        $("#check-code-btn").click(function () {
            mineRequest('/getCheckCode', {emailTo: $("#registEmail").val()}, function (res) {
                if (res.data) {
                    $("#tip").text('请注意查收邮箱验证码').show();
                } else {
                    $("#tip").text('请确认邮箱填写正确，三分钟后再试').show();
                }
            });
        });

        // 忘记密码
        $("#forget-pass-a").click(function () {
            var le = $('#loginEmail').val();
            if (le == undefined || le.trim() == '' || le == null) {
                alert('请输入登录邮箱');
            }
            mineRequest('/forgetPass', {email: le}, function (res) {
                if (res.data) {
                    alert('密码已发送至邮箱，请注意查收');
                } else {
                    alert('请确认邮箱填写正确');
                }
            });
        });

        // 我的脑图
        $("#my-mind-map-btn").click(function () {
            window.location.href = '/myMindMaps?token=' + localStorage.getItem("mind-token") + '&email=' + localStorage.getItem('email');
        });
    })
</script>
</body>
</html>